<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand p-0 logo" [routerLink]="['home']">
            <img src="https://i.ibb.co/jbSRwqg/Rick-Morty-Log.png" alt="Bootstrap" width="50" height="40">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" aria-current="page" [routerLink]="['home']" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" [routerLink]="['characters']" >Characters</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['episodes']" >Episodes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" >Locations</a>

          </li>
        </ul>
      </div>
    </div>
  </nav>